<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Application - Host Image</title>
</head>

<header th:replace="layout :: logged-in"></header>

<body>
<h1>Host New Image</h1>

<form method="post" th:object="${image}" th:action="@{/images/hostnewimage}">
    <div>Image Title:</div>
    <div><input type="text" id="title" name="title" /></div>

    <div>Description:</div>

    <div><textarea rows="7" cols="100" name="body"></textarea></div>

    <div>
        <input type="file" accept="image/png, image/jpeg" id="img-file" name="image"/>
    </div>
    <br />

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

</body>

</html>